<h4 class="text-center" style="color:#00BFA6; margin: 10% 0 0;" >Digite seu email cadatrado para receber uma nova senha </h4>
<br>
<br>
<br>
<form name="recuperarsenha" method="post" action="" style="color:#00BFA6; margin: 0 0 14.8%;">

    <section>
        <div class="col-md-4"></div>

        <div class="col-md-4">
            <input type="email" name="cli_email" id="cli_email" placeholder="Digite seu email cadastrado" class="form-control" required style="color: #01A185; border-color: #01ca95; color: #01ca95;" >
            <br>
            <button type="submit" class="btn btn-warning btn-block" > Recuperar </button>
        </div>

        <div class="col-md-4">



        </div>



    </section>


</form>