{if $LOGADO == true}


{else}

<div style="padding: 5%;">
    <section>
        <div id="page-wrapper" class="sign-in-wrapper">
            <div class="graphs">
                <div class="sign-in-form">
                    <div class="sign-in-form-top">
                        <h1>Log in</h1>
                    </div>
                    <div class="signin">
                        <div class="signin-rit">
                            <span class="checkbox1">
                                 <label class="checkbox"><input type="checkbox" name="checkbox" checked="">Forgot Password ?</label>
                            </span>
                            <a href="#">Click Here</a>
                            <div class="clearfix"> </div>
                        </div>
                        <form>
                        <div class="log-input">
                            <div class="log-input-left">
                               <input type="text" name="txt_email" placeholder="Email" value="" />
                            </div>
                            <span class="checkbox2">
                                 <label class="checkbox"><input type="checkbox" name="checkbox" checked=""><i> </i></label>
                            </span>
                            <div class="clearfix"> </div>
                        </div>
                        <div class="log-input">
                            <div class="log-input-left">
                               <input type="password" class="lock" placeholder="Senha" value="" />
                            </div>
                            <span class="checkbox2">
                                 <label class="checkbox"><input type="checkbox" name="checkbox" checked=""><i> </i></label>
                            </span>
                            <div class="clearfix"> </div>
                        </div>
                        <input type="submit" value="Log in">
                        </form>	 
                    </div>
                    <div class="new_people">
                        
                        <a href="{$PAG_CADASTRO}">Cadastre-se</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--     
<section class="row" id="fazerlogin">

    <form name="cliente_login" method="post" action="" >
    
        <div class="col-md-4 text-center">
        
        </div>
     
          aqui estão os campos ---
        <div class="col-md-4">

     
            <div class="form-group"> 
                <label></i> Email: </label>
                <input type="email"  class="form-control " name="txt_email" value="" placeholder="Digite seu email" required autocomplete="off">        

            </div>


            <div class="form-group"> 
                 <label> Senha: </label>
                 <input type="password"  class="form-control " name="txt_senha" value="" placeholder="Digite sua senha" required>        
           
            </div>


            <div class="form-group"> 
                
                <button class="btn btn-geral btn-block btn-lg"><i class="glyphicon glyphicon-log-in"></i> Entrar </button>
          
                
                
                
            </div>
            <div class="form-group"> 
                
                <a href="{$PAG_CADASTRO}" class="btn btn-default "><i class="glyphicon glyphicon-pencil"></i> Me Cadastrar</a>
             
                
                <a href="{$PAG_RECOVERY}" class="btn btn-default "><i class="glyphicon glyphicon-question-sign"></i> Esqueci a Senha</a>
           
                
                
            </div>

            
        </div><-- fim dos campos --


        <div class="col-md-4 text-center"> 
        
      
        </div>
    
    </form>
    
    
</section> -->
</div>
{/if}


